<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Birds AI</title>
</head>







<body style="background-image:url('static/required/nbg.png');background-repeat: no-repeat;background-size: cover">
    <div class="container">
        <h1>Birds AI</h1>
        <h4><br></h4>

        <form id="imageForm" enctype="multipart/form-data">
                <label for="image">Sélectionner une image</label>
        </br></br>
          <center>
                <input name="imgfile" type="file" id="image" accept="image/jpg" style="display: none;">
                <img class="image-preview" id="image-preview" src="#" alt="Aperçu de l'image" style="display: none;">
                <input name="bs64" id="bs64" type="text" style="display:none;" value="" readonly>            
            <br>
  <div class="image-upload" id="drop-area">
  </br>
    <p id="droptext">
     ou glisser/déposer ici
      </p>  </br></div> <br>

                <button type="submit" style="display:none" onclick="loading();console.log('html_loading')">C'est parti !</button>
              <iframe src="https://scratch.mit.edu/projects/908363318/embed" allowtransparency="true" width="400px" height="300px"  frameborder="0"  allowfullscreen id="iframe" style="display:none;" >  </iframe><br>
                    <div id="loader" style="display:none;"></div>

                      <h2 style="display:none" id="resulttitle">Résultat de la reconnaissance</h2>


             <p id="resulttext"></p>
                <h5>© Raphael Greissler, Silas Barry Schmitt, Leonardo Ricci 2023-2024 </h5>
              <input type="hidden" id="resultField" name="result" value="">
            </center>
        </form>  
    </div>
    <script src="static/script.js"> </script>
</body>
</html>
